textarea{
    width: 100%;
    font-family: unset;
    resize: none;
    border: 1px solid #ced4da;
    background-color: #17212f;
    color: rgba(255, 255, 255, 0.87);
    height: calc(100vh - 340px);
}